:root {
    --card-background: #68b88e; /* 卡片背景色 */
    --text-color: #212529; /* 文字颜色 */
    --border-radius: 0.5rem; /* 边框半径 */
    --padding-vertical: 16px;

}


@media (min-width: 768px) {
    :root {
        --font-size: 24px;
        --sub-font-size: 16px;
    }
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .card {
        min-height: 100px
    }
}

/* 移动端（屏幕宽度小于768px）的布局 */
@media (max-width: 767px) {
    :root {
        --font-size: 20px;
        --sub-font-size: 12px;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        min-height: 50px
    }
}